%% -*- erlang -*-

{erl_opts, [debug_info]}.

{post_hooks, [
              {compile, "mkdir -p log/sasl"}
             ]}.

{deps, [
        recon,
        {dns, {git, "https://github.com/timclassic/dns_erlang.git",
               {branch, "rebar3"}}},
        {erldns, {git, "https://github.com/aetrion/erl-dns.git",
                  {branch, "master"}}}
       ]}.

{relx, [ {release, {erldns, "0.1.0"},
          [ sasl,
            recon,
            lager,
            mnesia,
            dns,
            erldns
          ]},

         {sys_config, "./config/sys.config"},
         {vm_args, "./config/vm.args"},

         {dev_mode, true},
         {include_erts, false},

         {extended_start_script, true},

         {overlay, [ {mkdir, "log/sasl"} ]}
       ]}.

{profiles, [
            {nix, [ {relx, [ {dev_mode, false},
                             {include_erts, false},
                             {system_libs, false}
                           ]}
                  ]} ]}.
