%% -*- erlang -*-

{erl_opts, [debug_info]}.

{pre_hooks, [
              {release, "cp -p config/sys.config.in config/sys.config"},
              {release, "cp -p config/vm.args.in config/vm.args"}
             ]}.

{deps, [
        recon,
        {dns, {git, "https://github.com/timclassic/dns_erlang.git",
               {branch, "rebar3"}}},
        {erldns, {git, "https://github.com/aetrion/erl-dns.git",
                  {branch, "master"}}}
       ]}.

{plugins, [
           rebar3_run
          ]}.

{relx, [ {release, {erldns, "0.1.0"},
          [ sasl,
            recon,
            lager,
            mnesia,
            jsx,
            dns,
            erldns
          ]},

         {dev_mode, true},
         {extended_start_script, true},

         {sys_config, "config/sys.config"},
         {vm_args, "config/vm.args"},
         {overlay_vars, "config/vars/default.config"},
         {overlay,
          [ {template, "config/sys.config",
             "releases/{{release_version}}/sys.config"},
            {template, "config/vm.args",
             "releases/{{release_version}}/vm.args"}
          ]}
       ]}.

{profiles, [
            {nix, [ {relx, [ {dev_mode, false},
                             {include_erts, false},
                             {system_libs, false},
                             {overlay_vars, "config/vars/nix.config"}
                           ]}
                  ]}
           ]}.
