%% -*- erlang -*-
[
 %% Main erldns config
 {erldns,
  [
   %% DB Config
   {storage,
    [ {type, erldns_storage_mnesia},    %% erldns_storage_json | erldns_storage_mnesia
      {dbname, undefined},  %% name of the db
      {user, undefined},    %% for future db types
      {pass, undefined},    %% for future db types
      {host, undefined},    %% for future db types
      {port, undefined}     %% for future db types
    ]},
   {servers,
    [ [ {name, inet6_localhost_1},
        {address, "::"},
        {port, 8053},
        {family, inet6},
        {processes, 2}
      ]
    ]},

   {use_root_hints, false},
   {catch_exceptions, false},
   {zones, "priv/example.zone.json"},
   {metrics, [ {port, 8082} ]},
   {admin,
    [ {port, 8083},
      {credentials, {"username", "password"}}
    ]},
   {pools,
    [ {tcp_worker_pool, erldns_worker,
       [ {size, 10},
         {max_overflow, 20}
       ]} ]} ]},

 %% Mnesia config
 {mnesia,
  [ {dir, "db"} ]},

 %% SASL config
 {sasl,
  [ {sasl_error_logger, false},
    {utc_log, true},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
  ]},

 %% Lager config
 {lager,
  [ {error_logger_whitelist, [log_mf_h]},
    {handlers,
     [ {lager_file_backend,
        [ {file, "log/info.log"},
          {level, info},
          {size, 104857600},
          {count, 5}
        ]}
     ]}
  ]}
].
